[submodule "cmake/gremlin"]
	path = cmake/gremlin
	url = https://github.com/bomkvilt/gremlin
[submodule "libs/reflect"]
	path = libs/reflect
	url = https://github.com/bomkvilt/gremlin-reflect
[submodule "libs/boost"]
	path = libs/boost
	url = https://github.com/bomkvilt/gremlin-boost
[submodule "libs/math"]
	path = libs/math
	url = https://github.com/bomkvilt/gremlin-math
